<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- OpenGraph/Social sharing -->
<meta name="description" content="{{ settings.metaDescription }}" />
<meta name="og:description" content="{{ settings.metaDescription }}" />
<meta property="og:image" content="{{ settings.avatarImage }}" />
<meta property="og:title" content="{{ settings.metaTitle}}" />
<meta name="twitter:card" content="summary" />
<link rel="icon" href="https://glitch.com/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/style.css" />

<!-- PWA setup - update public/sw.js if you add your own assets like a new .css file -->
<link rel="manifest" href="manifest.json" />
